absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
ale-py==0.7.3
async-timeout==4.0.2
asynctest==0.13.0
atari-py==0.2.6
attrs==21.2.0
black==21.12b0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==1.6.0
flake8==4.0.1
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
grpcio==1.43.0
gym==0.19.0
idna==3.3
importlib-metadata==4.2.0
importlib-resources==5.4.0
isort==5.10.1
lightning-bolts==0.5.0
Markdown==3.3.6
markdown-it-py==2.0.0
mccabe==0.6.1
mdformat==0.7.11
mdurl==0.1.0
multidict==5.2.0
mypy-extensions==0.4.3
numpy==1.21.5
oauthlib==3.1.1
opencv-python==4.5.4.60
packaging==21.3
pandas==1.3.5
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyDeprecate==0.3.1
pyflakes==2.4.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytorch-lightning==1.5.7
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
six==1.16.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tomli==1.2.3
torch==1.10.1+cu113
torch-tb-profiler==0.3.1
torchaudio==0.10.1+cu113
torchmetrics==0.6.2
torchvision==0.11.2+cu113
tqdm==4.62.3
typed-ast==1.5.1
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
yarl==1.7.2
zipp==3.6.0
